Repository dfinity/ic, pull requests merged in 2025-07, with the labels that each got.

#5717 refactor(cketh): clean up eth_rpc.rs
  rs/ethereum/cketh/minter/src/eth_rpc.rs
  rs/ethereum/cketh/minter/src/eth_rpc/tests.rs
  rs/ethereum/cketh/minter/src/eth_rpc_client/mod.rs
  rs/ethereum/cketh/minter/src/tests.rs
Labels: refactor, @cross-chain-team

#5660 test: CON-1501 Migrate remaining read state tests to Rust
  Cargo.lock
  rs/tests/networking/BUILD.bazel
  rs/tests/networking/Cargo.toml
  rs/tests/networking/read_state_test.rs
Labels: test, @consensus

#5782 fix: properly make fully qualified target from a suffix
  rs/tests/ict/cmd/helpers.go
Labels: fix

#5783 chore: increase sns_testing_ci timeout
  rs/sns/testing/BUILD.bazel
Labels: chore

#5786 fix(tests): Temporarily revert chain key performance tests back to `MessageCanister`
  rs/tests/consensus/tecdsa/tecdsa_performance_test_template.rs
Labels: fix

#5760 chore: Add snapshot upload benchmark
  rs/execution_environment/benches/management_canister/canister_snapshots.rs
  rs/execution_environment/benches/management_canister/utils.rs
Labels: chore, @execution, CI_ALL_BAZEL_TARGETS

#5632 test(registry): Do not decode Registry responses to non-high-capacity types in test helpers...
  rs/nns/integration_tests/src/registry_get_changes_since.rs
  rs/nns/test_utils/src/state_test_helpers.rs
Labels: test

#5454 feat(NRC): Add Node metrics to NRC
  Cargo.lock
  Cargo.toml
  rs/node_rewards/canister/BUILD.bazel
  rs/node_rewards/canister/Cargo.toml
  rs/node_rewards/canister/proto/node_rewards/pb/v1/types.proto
  rs/node_rewards/canister/protobuf_generator/BUILD.bazel
  rs/node_rewards/canister/protobuf_generator/Cargo.toml
  rs/node_rewards/canister/protobuf_generator/src/lib.rs
  rs/node_rewards/canister/protobuf_generator/src/main.rs
  rs/node_rewards/canister/src/gen/ic_node_rewards.pb.v1.rs
  rs/node_rewards/canister/src/lib.rs
  rs/node_rewards/canister/src/main.rs
  rs/node_rewards/canister/src/metrics.rs
  rs/node_rewards/canister/src/metrics/tests.rs
  rs/node_rewards/canister/src/pb/mod.rs
  rs/node_rewards/canister/src/storage.rs
Labels: feat, @dre, @execution, @governance-team

#5792 refactor: Restructure wasmtime_embedder module
  rs/embedders/src/lib.rs
  rs/embedders/src/wasmtime_embedder.rs
  rs/embedders/src/wasmtime_embedder/signal_handler.rs
  rs/embedders/src/wasmtime_embedder/tests.rs
Labels: refactor

#5434 chore(crypto): CRP-2798: re-enable vetKD public key equality check
  rs/tests/consensus/tecdsa/utils/src/lib.rs
Labels: chore, @consensus, CI_ALL_BAZEL_TARGETS

#5791 chore(boundary): enable `ipv4` for `ic-gateway-vm`
  rs/tests/driver/src/driver/ic_gateway_vm.rs
  rs/tests/ict/cmd/testnetCreateCmd.go
Labels: chore, @idx

#5452 test(ICRC_Ledger): FI-1592: Add test with unsupported ledger init args
  rs/ledger_suite/icrc1/ledger/tests/tests.rs
  rs/ledger_suite/tests/sm-tests/src/icrc_106.rs
Labels: test, @finint

#5794 test(ICP_Rosetta): FI-1779: Ignore spender in transfers in search_transactions_by_account
  rs/rosetta-api/icp/BUILD.bazel
  rs/rosetta-api/icp/tests/system_tests/test_cases/search_transactions.rs
Labels: test, @finint

#5793 chore: Cleanup signal_stack module
  rs/embedders/src/wasmtime_embedder/signal_stack.rs
Labels: chore

#5804 test(Consensus): Fix invalid ip test
  rs/tests/networking/canister_http_correctness_test.rs
Labels: test, @consensus

#4321 feat: [NODE-1574] Upgrade images to SEV-SNP compatible base images
  ic-os/components/early-boot/initramfs-tools/guestos/modules
  ic-os/components/early-boot/initramfs-tools/hostos/modules
  ic-os/guestos/context/docker-base.dev
  ic-os/guestos/context/docker-base.prod
  ic-os/hostos/context/docker-base.dev
  ic-os/hostos/context/docker-base.prod
  ic-os/setupos/context/docker-base.dev
  ic-os/setupos/context/docker-base.prod
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_kvm.xml
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_qemu.xml
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_sev.xml
  rs/ic_os/os_tools/guest_vm_runner/templates/guestos_vm_template.xml
Labels: feat, @node, CI_ALL_BAZEL_TARGETS

#5815 chore: bump pocket-ic test timeout
  packages/pocket-ic/BUILD.bazel
Labels: chore

#5787 fix: Controllers of the subnet rental canister in testnet
  rs/tests/nns/nns_dapp/nns_dapp.rs
Labels: fix, @governance-team

#5680 feat(ICP-Ledger): FI-1550: Implement endpoint to retrieve approvals
  rs/ledger_suite/icp/ledger.did
  rs/ledger_suite/icp/ledger/src/lib.rs
  rs/ledger_suite/icp/ledger/src/main.rs
  rs/ledger_suite/icp/ledger/tests/tests.rs
  rs/ledger_suite/icp/src/lib.rs
Labels: feat, @finint

#5803 chore(boundary): add status polling and more logs in `certificate-issuer`
  rs/boundary_node/certificate_issuance/certificate_issuer/src/acme.rs
  rs/boundary_node/certificate_issuance/certificate_issuer/src/metrics.rs
Labels: chore, @boundary-node

#5801 feat: EXC-2068: Update `update_settings` to keep track of environment variables via canister history
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/tests/canister_history.rs
  rs/test_utilities/execution_environment/src/lib.rs
Labels: feat, @execution

#5805 feat: Add new node type mappings for nodes in the registry
  rs/registry/canister/src/missing_node_types_map.rs
  rs/registry/canister/src/registry_lifecycle.rs
Labels: feat

#5790 feat(nns): Change root proposal to call Registry::subnet_for_canister instead of reading from routing table
  rs/nns/handlers/root/impl/BUILD.bazel
  rs/nns/handlers/root/impl/Cargo.toml
  rs/nns/handlers/root/impl/src/root_proposals.rs
  rs/nns/handlers/root/unreleased_changelog.md
Labels: feat, @governance-team

#5810 test(registry): Set up sharded routing table in registry tests
  rs/nns/integration_tests/src/registry_get_changes_since.rs
  rs/nns/test_utils/src/registry.rs
  rs/registry/canister/src/mutations/routing_table.rs
  rs/registry/canister/tests/modify_canister_migrations.rs
  rs/registry/canister/tests/reroute_canister_ranges.rs
  rs/registry/canister/tests/roll_back_canister_migration.rs
Labels: test, @governance-team

#5808 feat(registry-client): Use the new canister_ranges_ key family in RegistryClient
  rs/registry/helpers/src/routing_table.rs
Labels: feat

#5825 test: harden canister history tests by providing duplicate controllers
  rs/execution_environment/tests/canister_history.rs
Labels: test

#5706 feat(ic-registry-canister-client): Create in mem. mapping timestamp to registry versions in registry-canister-client
  rs/nervous_system/canisters/src/registry.rs
  rs/node_rewards/canister/src/main.rs
  rs/node_rewards/canister/src/storage.rs
  rs/registry/canister-client/src/stable_canister_client.rs
  rs/registry/canister-client/src/stable_canister_client/tests.rs
  rs/registry/canister-client/src/stable_memory.rs
Labels: feat, @dre, @governance-team

#5831 feat: bootstrap CMC on PocketIC instances
  Cargo.lock
  packages/pocket-ic/CHANGELOG.md
  packages/pocket-ic/src/common/rest.rs
  packages/pocket-ic/src/lib.rs
  packages/pocket-ic/tests/tests.rs
  rs/pocket_ic_server/BUILD.bazel
  rs/pocket_ic_server/CHANGELOG.md
  rs/pocket_ic_server/Cargo.toml
  rs/pocket_ic_server/build.rs
  rs/pocket_ic_server/src/pocket_ic.rs
Labels: feat, @pocket-ic

#5848 feat(sns): SNS treasury metrics
  rs/sns/governance/api/src/ic_sns_governance.pb.v1.rs
  rs/sns/governance/canister/canister.rs
  rs/sns/governance/canister/governance.did
  rs/sns/governance/canister/governance_test.did
  rs/sns/governance/proto/ic_sns_governance/pb/v1/governance.proto
  rs/sns/governance/src/gen/ic_sns_governance.pb.v1.rs
  rs/sns/governance/src/governance.rs
  rs/sns/governance/src/pb/conversions.rs
  rs/sns/governance/unreleased_changelog.md
Labels: feat, @governance-team

#5838 feat: Add new VSOCK command for starting the Upgrade Guest VM
  Cargo.lock
  rs/ic_os/vsock/vsock_lib/BUILD.bazel
  rs/ic_os/vsock/vsock_lib/Cargo.toml
  rs/ic_os/vsock/vsock_lib/src/host/agent.rs
  rs/ic_os/vsock/vsock_lib/src/protocol/structures.rs
Labels: feat, @node

#5868 chore(nervous-system): Update changelog for release 2025-07-09
  rs/sns/governance/CHANGELOG.md
  rs/sns/governance/unreleased_changelog.md
Labels: chore, @ic-owners-owners, @governance-team

#5876 fix: Fix the reboot behavior of GuestVM
  Cargo.lock
  rs/ic_os/os_tools/guest_vm_runner/BUILD.bazel
  rs/ic_os/os_tools/guest_vm_runner/Cargo.toml
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_kvm.xml
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_qemu.xml
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_sev.xml
  rs/ic_os/os_tools/guest_vm_runner/golden/upgrade_guestos.xml
  rs/ic_os/os_tools/guest_vm_runner/src/main.rs
  rs/ic_os/os_tools/guest_vm_runner/src/systemd_notifier.rs
  rs/ic_os/os_tools/guest_vm_runner/templates/guestos_vm_template.xml
Labels: fix, @node

#5843 feat: EXC-2057: Update canister status to include environment variables
  rs/embedders/src/wasmtime_embedder/system_api/sandbox_safe_system_state.rs
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/canister_settings.rs
  rs/execution_environment/src/lib.rs
  rs/execution_environment/tests/canister_history.rs
  rs/replica_tests/tests/canister_lifecycle.rs
  rs/replicated_state/src/canister_state/system_state.rs
  rs/state_manager/src/tip.rs
  rs/test_utilities/state/src/lib.rs
  rs/types/base_types/src/environment_variables.rs
  rs/types/base_types/src/lib.rs
  rs/types/management_canister_types/src/lib.rs
  rs/types/management_canister_types/tests/ic.did
Labels: feat, @execution, @ic-message-routing-owners, @ic-interface-owners

#5852 chore: remove WASM validation and canister history tests in Haskell
  Cargo.lock
  Cargo.toml
  hs/spec_compliance/BUILD.bazel
  hs/spec_compliance/src/IC/Test/Spec.hs
  hs/spec_compliance/src/IC/Test/Spec/CanisterHistory.hs
  rs/config/src/embedders.rs
  rs/embedders/tests/validation.rs
  rs/tests/BUILD.bazel
  rs/tests/idx/wabt-tests/BUILD.bazel
  rs/tests/idx/wabt-tests/Cargo.toml
  rs/tests/idx/wabt-tests/src/lib.rs
  rs/tests/idx/wabt-tests/src/main.rs
  rs/tests/networking/BUILD.bazel
  rs/tests/networking/Cargo.toml
  rs/tests/networking/read_state_test.rs
  rs/tests/research/BUILD.bazel
  rs/tests/research/spec_compliance/spec_compliance.rs
Labels: chore, @idx, @consensus, @execution, CI_ALL_BAZEL_TARGETS, @research

#5871 feat(ICP-Ledger): FI-1795: add candid tip_of_chain endpoint
  publish/canisters/BUILD.bazel
  rs/ledger_suite/icp/ledger.did
  rs/ledger_suite/icp/ledger/src/main.rs
  rs/ledger_suite/icp/src/lib.rs
  rs/ledger_suite/icp/test_utils/src/state_machine_helpers/ledger.rs
Labels: feat, @idx, @finint

#5861 chore(test): replace pre-built message canister with up-to-date Rust source code
  rs/tests/ckbtc/BUILD.bazel
  rs/tests/ckbtc/src/adapter.rs
  rs/tests/common.bzl
  rs/tests/consensus/BUILD.bazel
  rs/tests/consensus/backup/BUILD.bazel
  rs/tests/consensus/orchestrator/BUILD.bazel
  rs/tests/consensus/subnet_recovery/BUILD.bazel
  rs/tests/consensus/tecdsa/BUILD.bazel
  rs/tests/consensus/upgrade/BUILD.bazel
  rs/tests/consensus/vetkd/BUILD.bazel
  rs/tests/cross_chain/BUILD.bazel
  rs/tests/crypto/BUILD.bazel
  rs/tests/driver/BUILD.bazel
  rs/tests/driver/src/message.wasm
  rs/tests/driver/src/util.rs
  rs/tests/networking/BUILD.bazel
  rs/tests/test_canisters/message/src/main.rs
  rs/tests/test_canisters/message/src/message.did
Labels: chore, @idx, @consensus, @crypto-team, @cross-chain-team, CI_ALL_BAZEL_TARGETS

#5891 fix(test): fix Rust SignerCanister API
  rs/tests/consensus/tecdsa/tschnorr_message_sizes_test.rs
  rs/tests/consensus/tecdsa/utils/src/lib.rs
  rs/tests/driver/src/util.rs
Labels: fix, CI_ALL_BAZEL_TARGETS

#5885 feat(registry): Make Registry.create_subnet return the ID of the new subnet.
  rs/registry/canister/canister/canister.rs
  rs/registry/canister/canister/registry.did
  rs/registry/canister/canister/registry_test.did
  rs/registry/canister/src/mutations/do_create_subnet.rs
  rs/registry/canister/unreleased_changelog.md
Labels: feat

#5894 revert: Revert "feat: Build custom SEV-compatible OVMF from source and distribute it with the GuestOS (#5776)"
  .devcontainer/devcontainer.json
  .github/workflows-source/ci-main.yml
  .github/workflows-source/ci-pr-only.yml
  .github/workflows-source/release-testing.yml
  .github/workflows-source/schedule-daily.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/pocket-ic-tests-windows.yml
  .github/workflows/rate-limits-backend-release.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/salt-sharing-canister-release.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/schedule-weekly.yml
  .github/workflows/update-mainnet-revisions.yaml
  ci/container/TAG
  ci/container/files/packages.common
  ic-os/components/ovmf/BUILD.bazel
  ic-os/guestos/defs.bzl
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_kvm.xml
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_qemu.xml
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_sev.xml
  rs/ic_os/os_tools/guest_vm_runner/golden/upgrade_guestos.xml
  rs/ic_os/os_tools/guest_vm_runner/src/guest_direct_boot.rs
  rs/ic_os/os_tools/guest_vm_runner/src/guest_vm_config.rs
  rs/ic_os/os_tools/guest_vm_runner/templates/guestos_vm_template.xml
Labels: revert, @idx, @finint, CI_ALL_BAZEL_TARGETS

#5903 fix(ICP-Ledger): move tip_of_chain test to ledger tests
  rs/ledger_suite/icp/ledger/tests/tests.rs
  rs/ledger_suite/icp/test_utils/src/state_machine_helpers/ledger.rs
Labels: fix

#5775 chore: remove max canister memory size if no memory allocation is set
  rs/canister_sandbox/src/protocol/sbxsvc.rs
  rs/canister_sandbox/src/sandbox_server.rs
  rs/config/src/execution_environment.rs
  rs/drun/src/main.rs
  rs/embedders/fuzz/src/wasm_executor.rs
  rs/embedders/src/wasmtime_embedder/system_api.rs
  rs/embedders/src/wasmtime_embedder/tests.rs
  rs/embedders/tests/common/mod.rs
  rs/embedders/tests/wasmtime_embedder.rs
  rs/embedders/tests/wasmtime_random_memory_writes.rs
  rs/execution_environment/benches/lib/src/common.rs
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/canister_manager/types.rs
  rs/execution_environment/src/execution/install_code.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/lib.rs
  rs/execution_environment/src/query_handler.rs
  rs/execution_environment/src/query_handler/query_context.rs
  rs/execution_environment/src/scheduler.rs
  rs/execution_environment/src/scheduler/test_utilities.rs
  rs/execution_environment/tests/execution_test.rs
  rs/messaging/src/routing/stream_handler/tests.rs
  rs/replicated_state/src/canister_state.rs
  rs/replicated_state/src/canister_state/execution_state.rs
  rs/test_utilities/embedders/src/lib.rs
Labels: chore, @execution, @ic-message-routing-owners, @languages

#5917 chore(PocketIC): split tests of IcpFeatures into a separate target
  packages/pocket-ic/BUILD.bazel
  packages/pocket-ic/tests/icp_features.rs
  packages/pocket-ic/tests/tests.rs
Labels: chore, @pocket-ic

#5887 chore: simplify btc adapter build graph
  .gitignore
  rs/bitcoin/adapter/BUILD.bazel
  rs/bitcoin/adapter/Cargo.toml
  rs/bitcoin/adapter/bin/adapter-stress-test.rs
  rs/bitcoin/adapter/bin/ic-btc-adapter/cli.rs
  rs/bitcoin/adapter/bin/ic-btc-adapter/main.rs
  rs/bitcoin/adapter/tests/integration.rs
Labels: chore, @consensus, @cross-chain-team

#5807 perf(registry): Benchmark for canister migration
  Cargo.lock
  rs/registry/canister/BUILD.bazel
  rs/registry/canister/Cargo.toml
  rs/registry/canister/canbench/canbench_results.yml
  rs/registry/canister/src/certification.rs
  rs/registry/canister/src/flags.rs
  rs/registry/canister/src/invariants/routing_table.rs
  rs/registry/canister/src/invariants/subnet.rs
  rs/registry/canister/src/mutations/routing_table.rs
  rs/registry/canister/src/mutations/routing_table_benches.rs
Labels: perf, @governance-team

#5862 feat: CON-1528 Signature request context can hold the full pre-signature
  rs/consensus/idkg/src/signer.rs
  rs/consensus/utils/src/lib.rs
  rs/consensus/vetkd/src/test_utils.rs
  rs/execution_environment/src/execution_environment.rs
  rs/execution_environment/src/scheduler/threshold_signatures.rs
  rs/protobuf/def/state/metadata/v1/metadata.proto
  rs/protobuf/def/types/v1/idkg.proto
  rs/protobuf/src/gen/state/state.metadata.v1.rs
  rs/protobuf/src/gen/state/types.v1.rs
  rs/protobuf/src/gen/types/types.v1.rs
  rs/replicated_state/src/metadata_state/subnet_call_context_manager.rs
  rs/replicated_state/src/metadata_state/tests.rs
  rs/test_utilities/consensus/src/idkg.rs
Labels: feat, @consensus, @execution, @ic-message-routing-owners, @ic-interface-owners

#5860 feat(PocketIC): bootstrap ICP ledger and index canisters
  Cargo.lock
  packages/pocket-ic/src/common/rest.rs
  packages/pocket-ic/tests/icp_features.rs
  rs/ledger_suite/icp/BUILD.bazel
  rs/ledger_suite/icp/Cargo.toml
  rs/ledger_suite/icp/src/lib.rs
  rs/nns/test_utils/src/common.rs
  rs/pocket_ic_server/BUILD.bazel
  rs/pocket_ic_server/Cargo.toml
  rs/pocket_ic_server/build.rs
  rs/pocket_ic_server/src/pocket_ic.rs
Labels: feat, @pocket-ic, @finint, CI_ALL_BAZEL_TARGETS, @governance-team

#5863 feat(ICP-Rosetta): FI-1789: Add endpoint to get the minimum dissolve delay of a neuron
  rs/rosetta-api/examples/icp/python/README.md
  rs/rosetta-api/examples/icp/python/get_minimum_dissolve_delay.py
  rs/rosetta-api/examples/icp/python/rosetta_client.py
  rs/rosetta-api/examples/icp/python/test_all.py
  rs/rosetta-api/icp/client/src/lib.rs
  rs/rosetta-api/icp/src/ledger_client.rs
  rs/rosetta-api/icp/src/ledger_client/minimum_dissolve_delay_response.rs
  rs/rosetta-api/icp/src/request_handler.rs
  rs/rosetta-api/icp/tests/system_tests/common/governance_client.rs
  rs/rosetta-api/icp/tests/system_tests/test_cases/voting.rs
  rs/rosetta-api/icp/tests/test_utils/mod.rs
Labels: feat, @finint

#5926 refactor: better network enum conversion in ic-btc-replica-types
  rs/bitcoin/replica_types/src/lib.rs
Labels: refactor, @execution

#5906 test(CON-1442): Use well formed keys to test IC00Methods
  rs/execution_environment/src/execution_environment/tests.rs
  rs/test_utilities/execution_environment/src/lib.rs
Labels: test, @execution

#5942 fix: mount back ict_testnets dir into the local container
  .devcontainer/devcontainer.json
  ci/container/container-run.sh
Labels: fix

#5939 fix: new memory bytes if no change of memory allocation is requested
  rs/execution_environment/src/canister_settings.rs
  rs/execution_environment/tests/storage_reservation.rs
Labels: fix, @execution

#5931 feat: Unpack mainnet GuestOS from mainnet SetupOS, for tests
  Cargo.lock
  ic-os/setupos/BUILD.bazel
  rs/ic_os/build_tools/partition_tools/BUILD.bazel
  rs/ic_os/build_tools/partition_tools/Cargo.toml
  rs/ic_os/build_tools/partition_tools/src/bin/extract_guestos.rs
  rs/ic_os/build_tools/partition_tools/src/ext.rs
  rs/ic_os/build_tools/partition_tools/src/fat.rs
  rs/ic_os/build_tools/partition_tools/src/partition.rs
  rs/ic_os/dev_test_tools/setupos-disable-checks/src/main.rs
  rs/ic_os/dev_test_tools/setupos-image-config/src/bin/inject.rs
Labels: feat, @node

#5946 feat(sns): add `Root.register_extension`
  rs/nervous_system/agent/src/sns/root.rs
  rs/sns/cli/src/upgrade_sns_controlled_canister.rs
  rs/sns/init/src/lib.rs
  rs/sns/integration_tests/src/root.rs
  rs/sns/integration_tests/src/timers.rs
  rs/sns/root/canister/canister.rs
  rs/sns/root/canister/root.did
  rs/sns/root/proto/ic_sns_root/pb/v1/root.proto
  rs/sns/root/src/gen/ic_sns_root.pb.v1.rs
  rs/sns/root/src/lib.rs
  rs/sns/root/src/types.rs
  rs/sns/root/unreleased_changelog.md
Labels: feat, @governance-team

#5895 test(nns-governance): Test for FulfillSubnetRentalRequest::validate.
  rs/nns/governance/src/proposals/fulfill_subnet_rental_request.rs
  rs/nns/governance/src/proposals/fulfill_subnet_rental_request/tests.rs
Labels: test, @governance-team

#5952 test: Refactor SshSession trait and add Guest SSH to NestedVm
  rs/tests/driver/src/driver/nested.rs
  rs/tests/driver/src/driver/test_env_api.rs
  rs/tests/driver/src/driver/universal_vm.rs
Labels: test, @node

#5948 feat: adding vector vm for scraping logs from testnets
  MODULE.bazel
  rs/tests/BUILD.bazel
  rs/tests/common.bzl
  rs/tests/driver/BUILD.bazel
  rs/tests/driver/assets/vector.toml
  rs/tests/driver/src/driver/mod.rs
  rs/tests/driver/src/driver/vector_vm.rs
  rs/tests/ict/cmd/testnetCreateCmd.go
  rs/tests/nested/BUILD.bazel
  rs/tests/nested/src/lib.rs
  rs/tests/testnets/BUILD.bazel
  rs/tests/testnets/small.rs
  rs/tests/vector_activate.sh
Labels: feat, @idx, @node

#5878 feat(ic-admin): Add support for ProposeToFulfilSubnetRentalRequest
  rs/registry/admin/src/main.rs
Labels: feat, @governance-team

#5947 feat: Build custom SEV-compatible OVMF from source and distribute it with the GuestOS (roll forward)
  .devcontainer/devcontainer.json
  .github/workflows-source/ci-main.yml
  .github/workflows-source/ci-pr-only.yml
  .github/workflows-source/release-testing.yml
  .github/workflows-source/schedule-daily.yml
  .github/workflows/ci-main.yml
  .github/workflows/ci-pr-only.yml
  .github/workflows/pocket-ic-tests-windows.yml
  .github/workflows/rate-limits-backend-release.yml
  .github/workflows/release-testing.yml
  .github/workflows/rosetta-release.yml
  .github/workflows/salt-sharing-canister-release.yml
  .github/workflows/schedule-daily.yml
  .github/workflows/schedule-rust-bench.yml
  .github/workflows/schedule-weekly.yml
  .github/workflows/update-mainnet-revisions.yaml
  ci/container/TAG
  ci/container/files/packages.common
  ic-os/components/ovmf/BUILD.bazel
  ic-os/guestos/defs.bzl
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_kvm.xml
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_qemu.xml
  rs/ic_os/os_tools/guest_vm_runner/golden/guestos_vm_sev.xml
  rs/ic_os/os_tools/guest_vm_runner/golden/upgrade_guestos.xml
  rs/ic_os/os_tools/guest_vm_runner/src/guest_direct_boot.rs
  rs/ic_os/os_tools/guest_vm_runner/src/guest_vm_config.rs
  rs/ic_os/os_tools/guest_vm_runner/templates/guestos_vm_template.xml
  rs/tests/nested/src/lib.rs
Labels: feat, @idx, @node, @finint, CI_ALL_BAZEL_TARGETS

#5944 fix: drop unused tag in canister_http
  rs/tests/networking/BUILD.bazel
Labels: fix

#5960 fix: add VECTOR_ENV to all nested tests
  rs/tests/nested/BUILD.bazel
Labels: fix, CI_ALL_BAZEL_TARGETS

#5962 chore: Implement `From<MasterPublicKeyId>` for `AlgorithmId`
  rs/consensus/idkg/src/complaints.rs
  rs/consensus/idkg/src/payload_builder.rs
  rs/consensus/idkg/src/payload_builder/key_transcript.rs
  rs/consensus/idkg/src/payload_builder/pre_signatures.rs
  rs/consensus/idkg/src/payload_builder/resharing.rs
  rs/consensus/idkg/src/payload_verifier.rs
  rs/consensus/idkg/src/pre_signer.rs
  rs/consensus/idkg/src/signer.rs
  rs/consensus/idkg/src/test_utils.rs
  rs/consensus/idkg/src/utils.rs
  rs/test_utilities/consensus/src/idkg.rs
  rs/types/types/src/crypto.rs
Labels: chore, @consensus, @crypto-team

#856 feat(fuzzing): protobuf fuzzer for Block
  rs/protobuf/fuzz/BUILD.bazel
  rs/protobuf/fuzz/fuzz_targets/decode_block.rs
Labels: feat, @ic-interface-owners

#5933 feat(nns): Add a staleness metric for voting power snapshots
  rs/nns/governance/canbench/canbench_results.yml
  rs/nns/governance/src/governance/voting_power_snapshots_benches.rs
  rs/nns/governance/src/lib.rs
  rs/nns/governance/unreleased_changelog.md
Labels: feat, @governance-team

#5959 feat(nns-tools): improve the forum post links
  rs/nervous_system/tools/release-runscript/src/main.rs
Labels: feat, @governance-team

#5817 chore: Upgrade wasmtime to 34.0.1
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.Fuzzing.toml.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  bazel/external_crates.bzl
  rs/embedders/Cargo.toml
Labels: chore, @idx, CI_ALL_BAZEL_TARGETS

#5938 feat: support for external mainnet canisters in the bazel workspace
  .github/workflows/update-mainnet-revisions.yaml
  Cargo.lock
  WORKSPACE.bazel
  bazel/mainnet-canisters.bzl
  mainnet-canister-revisions.json
  rs/nervous_system/tools/sync-with-released-nervous-system-wasms/BUILD.bazel
  rs/nervous_system/tools/sync-with-released-nervous-system-wasms/Cargo.toml
  rs/nervous_system/tools/sync-with-released-nervous-system-wasms/src/main.rs
Labels: feat, @idx, @governance-team

#5975 chore: run IC nodes in tecdsa performance tests on Dells
  rs/tests/consensus/tecdsa/BUILD.bazel
  rs/tests/consensus/tecdsa/tecdsa_performance_test_template.rs
Labels: chore, @consensus

#5802 feat: Load and store SEV certificate chain in HostOS and pass it to the Guest in the config
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.Fuzzing.toml.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/external_crates.bzl
  rs/ic_os/config/BUILD.bazel
  rs/ic_os/config/Cargo.toml
  rs/ic_os/config/src/generate_testnet_config.rs
  rs/ic_os/config/src/hostos/guestos_bootstrap_image.rs
  rs/ic_os/config/src/hostos/guestos_config.rs
  rs/ic_os/config/src/lib.rs
  rs/ic_os/config_types/compatibility_tests/fixtures/guestos_v1.4.0.json
  rs/ic_os/config_types/compatibility_tests/fixtures/hostos_v1.4.0.json
  rs/ic_os/config_types/compatibility_tests/src/fixture.rs
  rs/ic_os/config_types/src/lib.rs
  rs/ic_os/os_tools/guest_vm_runner/BUILD.bazel
  rs/ic_os/os_tools/guest_vm_runner/Cargo.toml
  rs/ic_os/os_tools/guest_vm_runner/src/guest_vm_config.rs
  rs/ic_os/os_tools/guest_vm_runner/src/main.rs
  rs/ic_os/sev/BUILD.bazel
  rs/ic_os/sev/Cargo.toml
  rs/ic_os/sev/fixtures/mock_amd_key_server_response.crt
  rs/ic_os/sev/src/firmware.rs
  rs/ic_os/sev/src/lib.rs
  rs/ic_os/sev/src/testing.rs
Labels: feat, @idx, @node

#5869 feat(NRC): Implement RegistryClient with support for rewardable nodes computation
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.Fuzzing.toml.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/external_crates.bzl
  rs/crypto/internal/crypto_service_provider/csp_proptest_utils/src/lib.rs
  rs/crypto/internal/crypto_service_provider/csp_proptest_utils/src/tests.rs
  rs/interfaces/src/crypto/errors.rs
  rs/node_rewards/canister/BUILD.bazel
  rs/node_rewards/canister/Cargo.toml
  rs/node_rewards/canister/src/canister/mod.rs
  rs/node_rewards/canister/src/canister/test/get_node_providers_monthly_xdr_rewards.rs
  rs/node_rewards/canister/src/lib.rs
  rs/node_rewards/canister/src/main.rs
  rs/node_rewards/canister/src/metrics.rs
  rs/node_rewards/canister/src/metrics/tests.rs
  rs/node_rewards/canister/src/registry_querier.rs
  rs/node_rewards/canister/src/registry_querier/tests.rs
  rs/node_rewards/rewards_calculation/src/rewards_calculator.rs
  rs/node_rewards/rewards_calculation/src/rewards_calculator/tests.rs
  rs/node_rewards/rewards_calculation/src/rewards_calculator_results.rs
  rs/node_rewards/rewards_calculation/src/types.rs
  rs/registry/canister-client/src/lib.rs
  rs/registry/canister-client/src/stable_canister_client.rs
  rs/registry/canister-client/src/stable_canister_client/tests.rs
  rs/registry/canister-client/src/stable_memory.rs
  rs/types/types/src/registry.rs
Labels: feat, @idx, @dre, @crypto-team, @ic-interface-owners, @governance-team

#5924 fix(PocketIC): distinguish between arm64 and x86_64 when downloading PocketIC server
  packages/pocket-ic/src/lib.rs
Labels: fix, @pocket-ic

#5974 refactor(node): Add rust-ini parser
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.Fuzzing.toml.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  Cargo.toml
  bazel/external_crates.bzl
  rs/ic_os/config/BUILD.bazel
  rs/ic_os/config/Cargo.toml
  rs/ic_os/config/src/setupos/config_ini.rs
Labels: refactor, @idx, @node

#5973 fix: port Haskell tests of canister version to Rust and fix one edge case in mgmt canister
  hs/spec_compliance/BUILD.bazel
  hs/spec_compliance/src/IC/Test/Spec.hs
  hs/spec_compliance/src/IC/Test/Spec/CanisterVersion.hs
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/tests/hypervisor.rs
  rs/test_utilities/execution_environment/src/lib.rs
  rs/tests/research/spec_compliance/spec_compliance.rs
Labels: fix, @execution, @research

#5980 docs(governance): Added entries to Governance backend CHANGELOGs for 2025-07-18.
  rs/nns/governance/CHANGELOG.md
  rs/nns/governance/unreleased_changelog.md
  rs/registry/canister/CHANGELOG.md
  rs/sns/root/CHANGELOG.md
  rs/sns/root/unreleased_changelog.md
Labels: docs, @governance-team

#5996 fix: Exclude sev crate from reproducibility checks
  .github/actions/bazel/action.yaml
Labels: fix

#5979 chore: drop nightly toolchain
  Cargo.Bazel.Fuzzing.json.lock
  WORKSPACE.bazel
  bazel/conf/.bazelrc.build
  bazel/fuzz_testing.bzl
  bazel/rules_rust_env.patch
  bazel/rules_rust_san.patch
Labels: chore, @idx, @product-security

#5932 feat(nns): Keep the voting power spike detection when the snapshots are not full
  rs/nns/governance/src/governance/voting_power_snapshots.rs
  rs/nns/governance/src/governance/voting_power_snapshots_tests.rs
  rs/nns/governance/unreleased_changelog.md
Labels: feat

#5992 fix(orchestrator): properly log some messages
  Cargo.lock
  rs/bitcoin/adapter/bin/ic-btc-adapter/main.rs
  rs/http_endpoints/async_utils/BUILD.bazel
  rs/http_endpoints/async_utils/Cargo.toml
  rs/http_endpoints/async_utils/src/lib.rs
  rs/https_outcalls/adapter/src/main.rs
  rs/orchestrator/src/args.rs
  rs/orchestrator/src/boundary_node.rs
  rs/orchestrator/src/main.rs
  rs/orchestrator/src/orchestrator.rs
  rs/orchestrator/src/process_manager.rs
  rs/replica/src/main.rs
Labels: fix, @consensus, @cross-chain-team

#6004 feat: Extra progress logging for response body streaming in `file_downloader.rs`
  rs/http_utils/src/file_downloader.rs
Labels: feat, @consensus

#6001 chore(CRP-2613): Remove deprecated compute_initial_i_dkg_dealings endpoint Pt. 2
  rs/consensus/idkg/src/payload_builder/resharing.rs
  rs/consensus/idkg/src/payload_verifier.rs
  rs/consensus/src/consensus/batch_delivery.rs
  rs/types/management_canister_types/src/lib.rs
Labels: chore, @consensus, @execution, CI_ALL_BAZEL_TARGETS

#6015 fix: build fuzzers with bazel action
  .github/workflows-source/ci-main.yml
  .github/workflows/ci-main.yml
  bin/fuzzing/run-all-fuzzers.sh
Labels: fix, @idx, @product-security

#5997 chore: inline dependencies in bitcoin crates
  rs/bitcoin/adapter/BUILD.bazel
  rs/bitcoin/adapter/test_utils/BUILD.bazel
  rs/bitcoin/ckbtc/agent/BUILD.bazel
  rs/bitcoin/consensus/BUILD.bazel
  rs/bitcoin/validation/BUILD.bazel
Labels: chore, @consensus, @execution, @cross-chain-team

#5877 feat(cmc): Separate cycles minting limit for Subnet Rental Canister
  rs/nns/cmc/src/limiter.rs
  rs/nns/cmc/src/main.rs
  rs/nns/cmc/unreleased_changelog.md
  rs/nns/integration_tests/src/cycles_minting_canister.rs
Labels: feat, @governance-team

#5985 chore: Add more Http outcalls logs
  rs/execution_environment/src/execution_environment.rs
  rs/https_outcalls/client/src/client.rs
Labels: chore, @consensus, @execution

#6000 chore(NPR): Refactor NPR to use dyn CanisterRegistryClient
  rs/node_rewards/canister/src/canister/mod.rs
  rs/node_rewards/canister/src/canister/test/get_node_providers_monthly_xdr_rewards.rs
  rs/node_rewards/canister/src/main.rs
  rs/node_rewards/canister/src/registry_querier.rs
  rs/node_rewards/canister/src/registry_querier/tests.rs
  rs/registry/canister-client/src/lib.rs
  rs/registry/canister-client/src/stable_canister_client.rs
Labels: chore, @dre, @governance-team

#6020 fix: PocketIC test flakiness when killing PocketIC server
  packages/pocket-ic/BUILD.bazel
  packages/pocket-ic/tests/tests.rs
Labels: fix, @pocket-ic

#6021 chore: consolidate cycles and memory usage checks in management canister
  rs/execution_environment/src/canister_manager.rs
  rs/execution_environment/tests/canister_snapshots.rs
  rs/replicated_state/src/canister_state/system_state.rs
Labels: chore, @execution, @ic-message-routing-owners, CI_ALL_BAZEL_TARGETS

#6028 test: Reduce the number of nodes contributing to test IDKG transcripts
  rs/replicated_state/src/metadata_state/tests.rs
Labels: test, @execution, @ic-message-routing-owners

#6005 test: [MR-697] testnet can add nodes with different specified hosts
  rs/tests/driver/src/driver/ic.rs
  rs/tests/driver/src/driver/ic_gateway_vm.rs
  rs/tests/driver/src/driver/vector_vm.rs
  rs/tests/testnets/BUILD.bazel
  rs/tests/testnets/Cargo.toml
  rs/tests/testnets/io_perf_benchmark.rs
Labels: test, @idx

#5770 feat(sns): Implement RegisterExtension proposals
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.Fuzzing.toml.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  MODULE.bazel
  bazel/external_crates.bzl
  rs/nervous_system/agent/BUILD.bazel
  rs/nervous_system/agent/Cargo.toml
  rs/nervous_system/agent/src/icrc2/mod.rs
  rs/nervous_system/agent/src/icrc2/requests.rs
  rs/nervous_system/agent/src/lib.rs
  rs/nervous_system/agent/src/sns/mod.rs
  rs/nervous_system/agent/src/sns/treasury_manager.rs
  rs/nervous_system/integration_tests/BUILD.bazel
  rs/nervous_system/integration_tests/Cargo.toml
  rs/nervous_system/integration_tests/src/pocket_ic_helpers.rs
  rs/nervous_system/integration_tests/tests/sns_extension_test.rs
  rs/nns/test_utils/src/sns_wasm.rs
  rs/sns/cli/BUILD.bazel
  rs/sns/cli/Cargo.toml
  rs/sns/cli/src/lib.rs
  rs/sns/cli/src/main.rs
  rs/sns/cli/src/register_extension.rs
  rs/sns/governance/BUILD.bazel
  rs/sns/governance/Cargo.toml
  rs/sns/governance/api/src/lib.rs
  rs/sns/governance/api/src/precise_value.rs
  rs/sns/governance/canbench/canbench_results.yml
  rs/sns/governance/proto/ic_sns_governance/pb/v1/governance.proto
  rs/sns/governance/src/extensions.rs
  rs/sns/governance/src/gen/ic_sns_governance.pb.v1.rs
  rs/sns/governance/src/governance.rs
  rs/sns/governance/src/lib.rs
  rs/sns/governance/src/pb/conversions.rs
  rs/sns/governance/src/proposal.rs
  rs/sns/governance/src/sns_root_types.rs
  rs/sns/governance/src/topics.rs
  rs/sns/governance/src/types.rs
  rs/sns/governance/unreleased_changelog.md
  rs/sns/testing/BUILD.bazel
  rs/sns/treasury_manager/BUILD.bazel
  rs/sns/treasury_manager/Cargo.toml
  rs/sns/treasury_manager/src/lib.rs
  rs/sns/treasury_manager/treasury_manager.did
Labels: feat, @idx, CI_OVERRIDE_BUF_BREAKING, @governance-team

#6032 chore: require HostFeature::IoPerformance in the io_perf_benchmark
  rs/tests/testnets/io_perf_benchmark.rs
Labels: chore, @idx

#5761 test(recovery): guestos-recovery-engine smoke test
  Cargo.lock
  ic-os/components/BUILD.bazel
  ic-os/components/selinux/guestos-recovery-engine/guestos-recovery-engine.fc
  ic-os/components/selinux/guestos-recovery-engine/guestos-recovery-engine.te
  ic-os/guestos/defs.bzl
  ic-os/guestos/envs/recovery-dev/BUILD.bazel
  ic-os/guestos/envs/recovery-dev/defs.bzl
  rs/tests/BUILD.bazel
  rs/tests/consensus/BUILD.bazel
  rs/tests/consensus/Cargo.toml
  rs/tests/consensus/guestos_recovery_engine_smoke_test.rs
  rs/tests/system_tests.bzl
Labels: test, @idx, @consensus, @node, CI_ALL_BAZEL_TARGETS

#6041 feat(sns_treasury_manager): API to record pending transactions
  rs/sns/treasury_manager/src/lib.rs
  rs/sns/treasury_manager/treasury_manager.did
Labels: feat, CI_OVERRIDE_DIDC_CHECK, @governance-team

#6040 chore: Publish Universal Canister
  publish/canisters/BUILD.bazel
Labels: chore, @idx

#6047 chore(mr): Log ingress failure reasons in xnet SLO test
  rs/tests/message_routing/common/common.rs
  rs/tests/message_routing/xnet/slo_test_lib/xnet_slo_test_lib.rs
Labels: chore, @ic-message-routing-owners

#6050 chore: increase timeouts of subnet_recovery tests to reduce flakiness
  rs/tests/consensus/subnet_recovery/BUILD.bazel
  rs/tests/consensus/subnet_recovery/common.rs
Labels: chore, @consensus, CI_ALL_BAZEL_TARGETS

#6003 feat(NPR): compute daily FR extrapolation in reward calculator
  Cargo.Bazel.Fuzzing.json.lock
  Cargo.Bazel.Fuzzing.toml.lock
  Cargo.Bazel.json.lock
  Cargo.Bazel.toml.lock
  Cargo.lock
  bazel/external_crates.bzl
  rs/node_rewards/canister/src/registry_querier.rs
  rs/node_rewards/canister/src/registry_querier/tests.rs
  rs/node_rewards/rewards_calculation/BUILD.bazel
  rs/node_rewards/rewards_calculation/Cargo.toml
  rs/node_rewards/rewards_calculation/src/rewards_calculator.rs
  rs/node_rewards/rewards_calculation/src/rewards_calculator/builder.rs
  rs/node_rewards/rewards_calculation/src/rewards_calculator/tests.rs
  rs/node_rewards/rewards_calculation/src/rewards_calculator_results.rs
  rs/node_rewards/rewards_calculation/src/types.rs
Labels: feat, @idx, @dre, @governance-team

#6036 test(sns): Re-enable final balance assertion in treasury manager test
  MODULE.bazel
  rs/nervous_system/integration_tests/tests/sns_extension_test.rs
Labels: test, @idx, @governance-team

#6012 feat(node): Only configure GuestOS SSH keys if TEE is not enabled
  ic-os/components/guestos.bzl
  ic-os/components/hostos.bzl
  ic-os/components/ssh/setup-ssh-user-keys/setup-ssh-user-keys-guestos.sh
  ic-os/components/ssh/setup-ssh-user-keys/setup-ssh-user-keys-hostos.sh
Labels: feat, @node

#6042 test: `io_perf_benchmark` can select available hosts automatically
  rs/tests/testnets/io_perf_benchmark.rs
Labels: test, @idx

#6058 fix(cmc): Change version to correctly reflect the State version
  rs/nns/cmc/src/main.rs
Labels: fix, @governance-team

#6035 feat(sns/nns): Add memory_metrics to canister_status endpoints
  rs/nervous_system/clients/src/canister_status.rs
  rs/nervous_system/clients/src/management_canister_client/tests.rs
  rs/nns/governance/tests/governance.rs
  rs/nns/handlers/root/impl/canister/root.did
  rs/nns/handlers/root/interface/src/client.rs
  rs/nns/handlers/root/unreleased_changelog.md
  rs/sns/governance/canister/governance.did
  rs/sns/governance/canister/governance_test.did
  rs/sns/governance/src/proposal.rs
  rs/sns/root/canister/root.did
  rs/sns/root/unreleased_changelog.md
  rs/sns/swap/canister/swap.did
  rs/sns/swap/canister/tests.rs
  rs/sns/swap/unreleased_changelog.md
Labels: feat, @governance-team

#6066 chore: deflake //rs/tests/message_routing/xnet:xnet_malicious_slices
  rs/tests/message_routing/xnet/BUILD.bazel
  rs/tests/message_routing/xnet/xnet_malicious_slices.rs
Labels: chore, @ic-message-routing-owners

#6064 test(node): fix guestos_recovery_engine_smoke_test permission checking
  ic-os/components/misc/guestos-recovery/guestos-recovery-engine/guestos-recovery-engine.sh
Labels: test, @node

#6068 fix(sns): Ensure governance cached metrics are recomputed once per hour
  rs/sns/governance/src/governance.rs
  rs/sns/governance/unreleased_changelog.md
Labels: fix, @governance-team

#6011 feat: Add automatic switching to SSDs to io_perf_benchmark
  rs/tests/testnets/io_perf_benchmark.rs
Labels: feat

#6077 feat(sns): Add API for executing extension operations
  rs/sns/governance/api/src/ic_sns_governance.pb.v1.rs
  rs/sns/governance/canister/governance.did
  rs/sns/governance/canister/governance_test.did
  rs/sns/governance/proto/ic_sns_governance/pb/v1/governance.proto
  rs/sns/governance/src/gen/ic_sns_governance.pb.v1.rs
  rs/sns/governance/src/governance.rs
  rs/sns/governance/src/governance/assorted_governance_tests.rs
  rs/sns/governance/src/governance/proposal_topics_tests.rs
  rs/sns/governance/src/pb/conversions.rs
  rs/sns/governance/src/proposal.rs
  rs/sns/governance/src/topics.rs
  rs/sns/governance/src/types.rs
Labels: feat, @governance-team

#6079 feat(nns-tools): Add a warning when the release candates contain a mix of icrc ledger suite and other canisters
  rs/nervous_system/tools/release-runscript/src/main.rs
Labels: feat, @governance-team

#6016 chore: enabling log pulling for all system testnets
  rs/tests/common.bzl
  rs/tests/dre/BUILD.bazel
  rs/tests/dre/utils/lib.rs
  rs/tests/driver/src/driver/context.rs
  rs/tests/driver/src/driver/group.rs
  rs/tests/driver/src/driver/subprocess_task.rs
  rs/tests/driver/src/driver/vector_vm.rs
  rs/tests/idx/colocate_test.rs
  rs/tests/nested/BUILD.bazel
  rs/tests/nested/src/lib.rs
  rs/tests/system_tests.bzl
  rs/tests/testnets/BUILD.bazel
  rs/tests/testnets/io_perf_benchmark.rs
  rs/tests/testnets/large.rs
  rs/tests/testnets/medium.rs
  rs/tests/testnets/single_app_large_node.rs
  rs/tests/testnets/single_app_large_node_with_nns.rs
  rs/tests/testnets/single_app_small_node.rs
  rs/tests/testnets/single_large_node.rs
  rs/tests/testnets/small.rs
  rs/tests/testnets/small_bitcoin.rs
  rs/tests/testnets/small_high_perf.rs
  rs/tests/testnets/small_nns.rs
  rs/tests/testnets/small_with_query_stats.rs
  rs/tests/testnets/sns_testing.rs
  rs/tests/testnets/src_testing.rs
Labels: chore, @idx, @dre, @node, CI_ALL_BAZEL_TARGETS

#6026 fix(CON-1512): Use ReplicaVersion in CanisterHttpResponseShare
  Cargo.lock
  rs/artifact_pool/src/canister_http_pool.rs
  rs/consensus/utils/src/lib.rs
  rs/https_outcalls/consensus/BUILD.bazel
  rs/https_outcalls/consensus/Cargo.toml
  rs/https_outcalls/consensus/src/payload_builder/proptests.rs
  rs/https_outcalls/consensus/src/payload_builder/tests.rs
  rs/https_outcalls/consensus/src/pool_manager.rs
  rs/interfaces/src/canister_http.rs
  rs/protobuf/def/types/v1/canister_http.proto
  rs/protobuf/src/gen/types/types.v1.rs
  rs/state_machine_tests/src/lib.rs
  rs/types/types/src/batch/canister_http.rs
  rs/types/types/src/canister_http.rs
Labels: fix, @consensus, @execution, @pocket-ic, @ic-message-routing-owners, @ic-interface-owners

#6037 feat: Add more context to `mainnet-icos-revisions.json` and use it
  .github/workflows/update-mainnet-revisions.yaml
  ci/src/mainnet_revisions/mainnet_revisions.py
  mainnet-icos-revisions.json
  rs/tests/common.bzl
  rs/tests/consensus/backup/common.rs
  rs/tests/consensus/orchestrator/unstuck_subnet_test.rs
  rs/tests/consensus/subnet_recovery/common.rs
  rs/tests/consensus/subnet_recovery/sr_nns_same_nodes_test.rs
  rs/tests/consensus/upgrade/common.rs
  rs/tests/consensus/upgrade/unassigned_node_upgrade_test.rs
  rs/tests/consensus/upgrade/upgrade_with_alternative_urls.rs
  rs/tests/driver/src/driver/bootstrap.rs
  rs/tests/driver/src/driver/test_env_api.rs
  rs/tests/message_routing/xnet/xnet_compatibility.rs
  rs/tests/nested/src/lib.rs
  rs/tests/system_tests.bzl
Labels: feat, @idx, @consensus, @ic-message-routing-owners, @node

#6085 feat(NRC): Add telemetry
  Cargo.lock
  rs/node_rewards/canister/BUILD.bazel
  rs/node_rewards/canister/Cargo.toml
  rs/node_rewards/canister/src/canister/mod.rs
  rs/node_rewards/canister/src/lib.rs
  rs/node_rewards/canister/src/main.rs
  rs/node_rewards/canister/src/telemetry.rs
Labels: feat, @dre, @governance-team

#6039 chore: Cleanup handling of malicious images
  ic-os/components/ic/generate-ic-config/ic.json5.template
  rs/config/src/config.rs
  rs/config/src/config_sample.rs
  rs/consensus/src/consensus/malicious_consensus.rs
  rs/ic_os/config_types/src/lib.rs
  rs/protobuf/def/log/log_entry/v1/log_entry.proto
  rs/protobuf/def/log/malicious_behavior_log_entry/v1/malicious_behavior_log_entry.proto
  rs/protobuf/def/log/malicious_behaviour_log_entry/v1/malicious_behaviour_log_entry.proto
  rs/protobuf/generator/src/lib.rs
  rs/protobuf/src/gen/log/log.log_entry.v1.rs
  rs/protobuf/src/gen/log/log.malicious_behavior_log_entry.v1.rs
  rs/protobuf/src/gen/log/log.malicious_behaviour_log_entry.v1.rs
  rs/protobuf/src/log.rs
  rs/replica/src/main.rs
  rs/replica/src/setup_ic_stack.rs
  rs/state_manager/src/lib.rs
  rs/tests/consensus/BUILD.bazel
  rs/tests/consensus/catch_up_loop_prevention_test.rs
  rs/tests/consensus/catch_up_possible_test.rs
  rs/tests/consensus/liveness_test_common/src/lib.rs
  rs/tests/consensus/liveness_with_equivocation_test.rs
  rs/tests/consensus/replica_determinism_test.rs
  rs/tests/consensus/request_auth_malicious_replica_test.rs
  rs/tests/consensus/safety_test.rs
  rs/tests/consensus/tecdsa/BUILD.bazel
  rs/tests/consensus/tecdsa/tecdsa_complaint_test.rs
  rs/tests/driver/src/driver/bootstrap.rs
  rs/tests/driver/src/driver/ic.rs
  rs/tests/driver/src/driver/resource.rs
  rs/tests/driver/src/driver/test_env_api.rs
  rs/tests/driver/src/util.rs
  rs/tests/message_routing/BUILD.bazel
  rs/tests/message_routing/state_sync_malicious_chunk_test.rs
  rs/tests/message_routing/xnet/BUILD.bazel
  rs/tests/message_routing/xnet/xnet_malicious_slices.rs
  rs/tests/system_tests.bzl
  rs/types/types/src/lib.rs
  rs/types/types/src/malicious_behavior.rs
Labels: chore, @idx, @consensus, @ic-message-routing-owners, @node, @ic-interface-owners

#6086 feat: Increase subnet memory capacity to 2 TiB and subnet memory threshold to 750 GiB
  rs/config/src/execution_environment.rs
  rs/rust_canisters/canister_creator/test/test.rs
Labels: feat, @execution, CI_ALL_BAZEL_TARGETS

#6101 test(node): fix guestos_upgrade_smoke_test
  rs/tests/nested/src/lib.rs
  rs/tests/nested/src/util.rs
  rs/tests/system_tests.bzl
Labels: test, @idx, @node

#5800 feat: [MR-663] Add `registry_version` to `subnet_info` mgmt endpoint
  rs/execution_environment/src/canister_manager/tests.rs
  rs/execution_environment/src/execution_environment.rs
  rs/interfaces/src/execution_environment.rs
  rs/messaging/src/message_routing.rs
  rs/messaging/src/message_routing/tests.rs
  rs/test_utilities/execution_environment/src/lib.rs
  rs/types/management_canister_types/src/lib.rs
  rs/types/management_canister_types/tests/ic.did
Labels: feat, @execution, @ic-message-routing-owners

#6106 fix(IDX): small workflow fix
  .github/workflows-source/ci-main.yml
  .github/workflows/ci-main.yml
Labels: fix, @idx

#6023 fix(recovery): use zstd instead of gzip
  ic-os/components/misc/guestos-recovery/guestos-recovery-engine/guestos-recovery-engine.sh
  ic-os/guestos/envs/recovery-dev/defs.bzl
  rs/recovery/src/lib.rs
  rs/recovery/src/steps.rs
Labels: fix, @consensus, @node, CI_ALL_BAZEL_TARGETS

#6102 fix: Log sender reply callback instead of request ID
  rs/execution_environment/src/execution_environment.rs
  rs/https_outcalls/client/src/client.rs
Labels: fix, @consensus, @execution

#6107 test(node): nested guestos_upgrade_from_latest_release_to_current test
  rs/tests/nested/BUILD.bazel
Labels: test, @node

#6074 chore: Remove unused variables
  rs/tests/boundary_nodes/BUILD.bazel
  rs/tests/ckbtc/BUILD.bazel
  rs/tests/common.bzl
  rs/tests/consensus/BUILD.bazel
  rs/tests/consensus/backup/BUILD.bazel
  rs/tests/consensus/orchestrator/BUILD.bazel
  rs/tests/consensus/subnet_recovery/BUILD.bazel
  rs/tests/consensus/tecdsa/BUILD.bazel
  rs/tests/consensus/upgrade/BUILD.bazel
  rs/tests/consensus/vetkd/BUILD.bazel
  rs/tests/cross_chain/BUILD.bazel
  rs/tests/crypto/BUILD.bazel
  rs/tests/dre/BUILD.bazel
  rs/tests/execution/BUILD.bazel
  rs/tests/financial_integrations/BUILD.bazel
  rs/tests/financial_integrations/rosetta/BUILD.bazel
  rs/tests/idx/BUILD.bazel
  rs/tests/message_routing/BUILD.bazel
  rs/tests/message_routing/xnet/BUILD.bazel
  rs/tests/nested/BUILD.bazel
  rs/tests/networking/BUILD.bazel
  rs/tests/nns/BUILD.bazel
  rs/tests/nns/sns/BUILD.bazel
  rs/tests/node/BUILD.bazel
  rs/tests/query_stats/BUILD.bazel
  rs/tests/research/BUILD.bazel
  rs/tests/sdk/BUILD.bazel
  rs/tests/testnets/BUILD.bazel
Labels: chore, @idx, @dre, @consensus, @execution, @boundary-node, @crypto-team, @ic-message-routing-owners, @node, @cross-chain-team, @finint, @sdk, @research, @governance-team

#6108 chore: using absolute time to determine kibana links
  rs/tests/driver/src/driver/group.rs
  rs/tests/driver/src/driver/vector_vm.rs
Labels: chore

#6115 feat: Improvements to the linux_kernel_command_line lib
  Cargo.lock
  rs/ic_os/dev_test_tools/setupos-disable-checks/src/main.rs
  rs/ic_os/linux_kernel_command_line/BUILD.bazel
  rs/ic_os/linux_kernel_command_line/Cargo.toml
  rs/ic_os/linux_kernel_command_line/src/lib.rs
Labels: feat, @node

#6109 fix(node): Resolve nested test flakiness
  rs/tests/driver/src/driver/test_env_api.rs
  rs/tests/nested/src/lib.rs
Labels: fix, @idx, @node

#6097 fix: Fixup bootstrap permissions
  ic-os/components/init/bootstrap-ic-node/bootstrap-ic-node.sh
Labels: fix, @node

#6119 chore: Bump glibc version to 2.31
  MODULE.bazel
Labels: chore
